.dark-mode {
  background-color: #18181b; /* Dark background */
  color: #dedee3;
}

.dark-mode #header {
  background-color: rgba(59, 58, 60, 0.11); /* Darker header background */
  color: rgba(154, 146, 146, 0.347);
}

.dark-mode .stream-info {
  background-color: #1f1f23; /* Darker header background */
}

.dark-mode .channel-name.with-avatar {
  font-weight: bold; /* Apply bold font weight */
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: #dedee3;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.dark-mode .stream-info:hover {
  background-color: #26262c;
}

.dark-mode .stream-info::after {
  border-bottom: 1px dashed #c8646427;
}

.stream-item::after {
  border-bottom: 1px dashed #c8646427;
}

.dark-mode #scrollContainer::-webkit-scrollbar-track {
  background-color: #adadb7; /* Light gray track */
}

.dark-mode .viewers {
  color: #e76763;
}

.dark-mode .access-count {
  color: #9999993d; /* Lighter color for a subtle appearance */
}

body.dark-mode .custom-tooltip {
  background-color: rgba(5, 5, 5, 0.984); /* Darker Twitch Purple */
  /* Other styling can remain the same */
}

/* Custom Scrollbar Styles */
/* For Webkit browsers like Chrome, Safari */
.dark-mode #scrollContainer::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.dark-mode #scrollContainer::-webkit-scrollbar-track {
  background-color: #0d0d0e; /* Light gray track */
}

.dark-mode #scrollContainer::-webkit-scrollbar-thumb {
  background-color: #6441a575; /* Twitch-like purple thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.dark-mode #scrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: #503484; /* Darker purple on hover */
}

.dark-mode #scrollContainer {
  max-height: calc(556px - 1px);
  overflow-y: auto;
}

.dark-mode .context-menu-item {
  background-color: #2a2a2e;
  color: #dedee3;
}

.dark-mode .custom-context-menu,
.dark-mode .context-menu-item {
  background-color: #333; /* Ensure all elements use the dark background */
}

.dark-mode .custom-context-menu {
  background-color: #333;
  color: #dedee3;
}

.dark-mode .context-menu-header {
  border-bottom-color: #444;
}

.dark-mode .context-menu-item:last-child {
  border-top-color: #444;
}

.dark-mode .context-menu-item:hover {
  background-color: #404040; /* Slightly darker on hover for visibility */
}

.dark-mode .new-group-form {
  background-color: #333; /* Dark background for dark mode */
}

.dark-mode .group-name-input {
  background-color: #222; /* Darker input background */
  border: 1px solid #555; /* Darker border */
  color: #ddd; /* Lighter text for visibility */
}

.dark-mode .submit-new-group {
  background-color: #9147ff; /* Twitch's secondary purple color for dark mode */
}

.dark-mode .submit-new-group:hover {
  background-color: #772ce8; /* Even darker purple on hover for contrast */
}

.dark-mode .delete-group-button {
  background-color: #fd140838; /* Dark mode specific background */
}

.dark-mode .delete-group-button:hover {
  background-color: #ce3838; /* Darker hover background for dark mode */
}
