body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 10px;
  min-width: 355px; /* Set minimum width to 355px */
}

#header {
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space out the items */
  align-items: center; /* Align items vertically */
  font-size: 20px;
  color: #6441a5a9;
  margin-bottom: 0px;
  margin-top: 10px;
}

.group-header {
  font-family: 'Noto Sans Display', sans-serif; /* Example font */
  font-size: 13px; /* Font size */
  color: #6441a575; /* Text color */
  margin-bottom: 1px; /* Spacing after the header */
  text-transform: uppercase; /* Capitalize text */
}


.separator {
  height: 1px;
  background-color: #6441a564;
  margin-top: 1px; /* Reduce top margin to bring closer to header */
  margin-bottom: 12px;
  width: 355px; /* Keep the separator at 355px */
}

  #loginButton {
    background-color: #6441a5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    width: 100%;
  }
  
  #loginButton:hover {
    background-color: #503484;
  }
  
  #description {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .stream-info {
    display: flex;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 7px 7px 3px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
    position: relative;
  }
  .stream-info::after {
    content: '';
    position: absolute;
    bottom: 1px; /* Closer to the bottom of the stream-info */
    left: 12px;
    right: 12px;
    border-bottom: 1px dashed #9999996e;
  }
  /* New Wrapper Style */
  .channel-category-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space */
    flex-grow: 1;
  }
  
  .channel-name, .stream-category {
    margin-right: 5px; /* Spacing between channel name and category */
  }
  
  .stream-info:last-child::after {
    display: none; /* Hide the separator for the last item */
  }
  
  .stream-info:hover {
    background-color: #e0d4f7;
  }
  
  .channel-name {
    flex-grow: 1;
    text-align: left;
    margin-right: 5px; /* Adjust the space between channel name and category */
  }
  
  .stream-category {
    display: inline-block; /* Change from block to inline-block */
    color: #88888885; /* Example color */
    font-size: 0.9em; /* Smaller font size */
    margin-left: 10px; /* Align with the channel name */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    max-width: 120px; /* Adjust as needed based on available space */
  }
  .viewers {
    flex-grow: 0; /* Prevent it from growing */
    margin-right: 10px;
  }
  
  .stream-info:link, .stream-info:visited {
    color: inherit;
  }

  .stream-avatar {
    margin-right: 5px; /* Space after avatar */
  }
  
  .stream-info:hover {
    text-decoration: none;
  }
  
  #settingsIcon:hover {
    color: #ff5722; /* Change the color to a different one on hover */
    transform: scale(1.2); /* Add a scaling effect on hover (optional) */
    transition: color 0.3s, transform 0.3s; /* Add a smooth transition effect */
    cursor: pointer; /* Change cursor to indicate interactivity */
  }

 /* Custom Scrollbar Styles */
/* For Webkit browsers like Chrome, Safari */
#scrollContainer::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

#scrollContainer::-webkit-scrollbar-track {
  background-color: #efeff1; /* Light gray track */
}

#scrollContainer::-webkit-scrollbar-thumb {
  background-color: #6441a55e; /* Twitch-like purple thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

#scrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: #503484; /* Darker purple on hover */
}


#scrollContainer {
  max-height: 90vh; /* Adjusted maximum height */
  overflow-y: auto; /* Enable vertical scroll */
}

#buttonContainer {
  overflow: hidden; /* Prevents buttonContainer from being scrollable */
  /* Other styles... */
}

/* For the entire popup window */
body::-webkit-scrollbar {
  width: 10px;  /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #efeff1;  /* Light gray track */
}

body::-webkit-scrollbar-thumb {
  background-color: #6441a51d;  /* Twitch-like purple thumb */
  border-radius: 5px;  /* Rounded corners for the thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #503484;  /* Darker purple on hover */
}

/* For the entire popup window */
body {
  scrollbar-width: thin;  /* Width of the scrollbar */
  scrollbar-color: #6441a5 #efeff1;  /* Thumb and track colors */
}

  
    