body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
    max-width: 350px; /* Increased max-width */
  }
  
  #header {
    font-size: 20px;
    color: #6441a5; /* Twitch's brand color */
    margin-bottom: 10px;
    white-space: nowrap; /* Prevents text from wrapping */
  }
  
  #separator {
    height: 4px;
    background-color: #6441a5; /* Twitch's brand color */
    border-radius: 2px;
    margin: 0 auto 20px auto;
    width: 80%;
  }
  
  #loginButton {
    background-color: #6441a5; /* Twitch's brand color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap; /* Prevents text from wrapping */
    width: 100%; /* Full width */
  }
  
  #loginButton:hover {
    background-color: #503484;
  }
  
  #description {
    margin-top: 20px;
    font-size: 14px;
  }
  
    /* Add this to your existing style.css */
    .stream-info {
      margin-bottom: 10px;
      white-space: nowrap; /* Ensures content stays on one line */
    }
    
    .stream-info a {
      color: #6441a5; /* Twitch's brand color */
      text-decoration: none; /* Removes underline from links */
      display: inline-block; /* Treats the link as an inline block */
      overflow: hidden; /* Prevents text overflow */
      text-overflow: ellipsis; /* Adds an ellipsis for overflowed text */
      max-width: 90%; /* Limits the width of the link */
    }
    

  .stream-info a:hover {
    text-decoration: underline; /* Optional: adds underline on hover */
  }
